.carousel-item {
  height: 90vh;
  width: 100%;
}

.navbar {
  background-color: rgb(114, 69, 116);
}

.navbar-brand {
  font-size: 25px;
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 40%;
    font-size: 18px;
  }
}
.navbar-nav a:hover {
  text-decoration: underline;
}
